
<nav class="dark:bg-gray-800">
    <div class="container px-6 py-3 mx-auto">
        <div class="flex flex-col md:flex-row md:justify-between md:items-center">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                </div>
            </div>

            <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <div class="items-center md:flex">
                <div class="hidden md:flex">
                    <div class="flex flex-col mt-2 md:flex-row md:items-center md:mt-0 md:mx-1">
                        <%= image_tag 'svg/info.svg', size: '20x20', class: 'mr-2' %>
                        <%= image_tag 'svg/bell2.svg', size: '20x20' %>
                        <%= link_to  current_user.firstname.capitalize, root_path, class: "username my-1 text-sm leading-5 text-gray-700 dark:text-gray-200 dark:hover:text-indigo-400 md:mx-4 md:my-0" %>
                        <%= link_to root_path do %>
                            <% if current_user.avatar.attached? %>
                                <%= image_tag current_user.thumbnail, class: 'rounded-full', alt: 'profile avatar' %>
                            <% else %>
                                <% filepath = (current_user.id % 8).to_s + '.png' %>
                                <%= image_tag 'default_avatars/' + filepath, size: '50x50', class: 'rounded-full', alt: 'profile avatar' %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
