<main class="main flex-col p-0 m-0">
    <div class="board-header w-full">

    </div>

    <div class="board w-full flex flex-col px-0 md:flex-row justify-between">
        <% tasks_container = "tasks-container flex flex-col items-center w-full rounded-xl md:mx-5 md:mb-5 bg-gray-100" %>
        <% sample_task = "<div class='task'> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>" %>
        <div class="<%= tasks_container %>">
            <%= sanitize sample_task %>
        </div>

        <div class="<%= tasks_container %>">     
            <%= sanitize sample_task %>
            <%= sanitize sample_task %>
            <%= sanitize sample_task %>
        </div>

        <div class="<%= tasks_container %>">   
            <%= sanitize sample_task %>
            <%= sanitize sample_task %>
        </div>
    </div>
</main>
