<main class="main flex-col p-0 m-0">
    <div class="board-header w-full flex justify-between items-center px-10 pt-5">
        <%= link_to categories_path do %>
            <h4 class="text-3xl font-medium">Categories</h4>
        <% end %>
        <div>Sort</div>
    </div>

    <div class="board w-full flex flex-col px-0 md:flex-row justify-between">
        <%= render 'index' %>

        <div class="flex flex-col w-full md:mb-5 md:mx-5 bg-gray-100 pt-8 rounded-xl">
            
            <% form_class = "mx-auto w-11/12 custom-shadow rounded-xl bg-white px-6 py-8" %>
            <% category_input = "block w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" %>
            <% label_class = "block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200" %>

            <%= form_with scope: :category, url: categories_path, class: form_class, local: true do |f| %>
                <h4 class="text-2xl">Create new category</h4>

                <%= f.hidden_field :user_id, value: current_user.id %>

                <div class="mt-4 flex flex-row justify-between">
                    <div class="w-1/2 mr-2">
                        <%= f.label :title, class: label_class %>
                        <%= f.text_field :title, class: category_input %>
                    </div>

                    <div class="w-1/2 ml-2">
                        <%= f.label "Pick a color", class: label_class %>
                        <div class="flex flex-row justify-start items-end">
                            <div class="color-picker custom-color-picker-class"></div>
                        </div>
                        
                    </div>
                </div>

                <div class="mt-4">
                    <div class="flex flex-col justify-between">
                        <%= f.label :description, class: label_class %>
                        <%= f.text_area :description, class: category_input + " h-1/3 " %>
                    </div>
                </div>

                
                <%= f.hidden_field :color, class: category_input, id: 'color-textbox'%>
               

                <div class="mt-8">
                    <%= f.submit 'Create category', class: "cursor-pointer w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-gray-700 rounded hover:bg-gray-600 focus:outline-none focus:bg-gray-600" %>
                </div>

            <% end %>

            
        </div>
           
        
    </div>
</main>

<%= javascript_pack_tag 'color_picker.js' %>
