<!DOCTYPE html>
<html>
  <head>
    <title>spaces v2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('rocket.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <% if user_signed_in? %>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <% end %>
    
    
    <!-- tasks#index table -->
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
  </head>

  <body class="text-gray-900 tracking-wider leading-normal">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="h-screen flex">
    <% if user_signed_in? %>
        <%= render 'partials/sidebar' %>
        <div class="right-content flex-col h-screen border-l-2">
            <%= render 'partials/navbar' %>
            <%= yield %>
        </div>
    <% else %>
        <%= yield %>
    <% end %>
    </div>
    

    <!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		
	<!--Datatables -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  </body>

</html>
