<!DOCTYPE html>
<html>
  <head>
    <title>spaces v2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('rocket.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <!-- tasks#index table -->
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
  </head>

  <body class="bg-gray-100 text-gray-900 tracking-wider leading-normal">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
        <%= render 'partials/sidebar' %>
        <%= render 'partials/navbar' %>
    <% end %>
    
    <div class="mt-20 md:mt-36 md:ml-24">
        <%= yield %>
    </div>
    
  </body>
</html>
